<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./components/head") %>
    <title>Tridecco</title>
</head>

<body class="h-full">
    <%- include("./components/main-header") %>
    <main>
    </main>
</body>

</html>