<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../components/head") %>
    <meta name="description" content="Begin a new game on Tridecco. Select your game mode, join a room, and start playing your favorite board game.">
    <title>Tridecco | Start Game</title>
    <script>
        (async () => {
            const sessionStatus = await app.session.check();
            if (sessionStatus.authenticated === true && sessionStatus.twoFactorAuthenticated === false) {
                window.location.href = "/two-factor-authentication";
            } else if (sessionStatus.authenticated === false) {
                window.location.href = "/login";
            }
        })();
    </script>
</head>

<body class="min-h-screen">
    <%- include("../components/main-header", { currentPage: "home" }) %>
    <main>
        <div class="container mx-auto p-4">
            <h1 class="text-2xl font-bold text-center mb-6">Select Game Mode</h1>
            <div class="space-y-4">
                <!-- Classic Mode -->
                <div class="p-4 border border-gray-300 rounded-lg shadow-sm bg-gray-50">
                    <h2 class="text-lg font-semibold">Classic Mode</h2>
                    <p class="text-gray-600 mb-2">Select player count for classic mode.</p>
                    <select id="player-count" class="w-full p-2 border border-gray-300 rounded mb-4">
                        <option value="3p">3-Player</option>
                        <option value="4p">4-Player</option>
                    </select>
                    <button id="start-game-classic" class="w-full py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700">
                        Start Game
                    </button>
                </div>
            </div>
        </div>
    </main>
    <script>
        // Handle Start Game Classic
        document.getElementById("start-game-classic").addEventListener("click", () => {
            const playerCount = document.getElementById("player-count").value;
            let gameMode;
            if (playerCount === "3p") {
                gameMode = "classic-3p";
            } else if (playerCount === "4p") {
                gameMode = "classic-4p";
            }
            window.location.href = `/game?type=queue&gameMode=${gameMode}`;
        });
    </script>
</body>

</html>