<div id="game-phase" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center space-y-4 z-10">
    <span class="font-bold text-2xl text-center drop-shadow"></span>
</div>
<div id="game-players" class="fixed top-5 left-5 flex space-x-4"></div>
<div class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center justify-center space-y-4">
        <div class="aspect-square w-full h-full max-w-full max-h-full">
            <canvas id="game-canvas" class="h-full w-[100vh] max-w-full max-h-full"></canvas>
        </div>
    </div>
</div>
<button id="game-trade-button" class="hidden fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none">
    Trade
</button>
<div id="game-trade" class="hidden fixed inset-0 bg-[rgba(0,0,0,0.6)] z-20 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-auto">
        <h2 class="text-xl font-bold mb-4">Trade</h2>
        <div id="game-trade-players" class="space-y-4 max-h-64 overflow-y-auto"></div>
        <div class="mt-6 flex justify-end space-x-4">
            <button id="game-trade-close" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none">
                Close
            </button>
            <button id="game-trade-no-trade" class="hidden bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none">
                No Trade
            </button>
            <button id="game-trade-confirm" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none">
                Confirm Trade
            </button>
        </div>
    </div>
</div>
<div id="game-trade-request" class="hidden fixed right-5 top-1/4 bg-white p-6 rounded-lg shadow-lg max-w-sm w-auto z-30">
    <h3 class="text-lg font-semibold mb-4">Trade Request</h3>
    <div class="flex items-center mb-6">
        <img id="game-trade-request-avatar" src="" alt="Player Avatar" class="w-12 h-12 rounded-full">
        <div class="ml-4">
            <p id="game-trade-request-name" class="text-md font-semibold"></p>
        </div>
    </div>
    <p class="mb-4">You have received a trade request:</p>
    <div class="flex items-center space-x-4 mb-6">
        <div class="flex flex-col items-center">
            <img id="game-trade-request-requested-piece" src="" alt="Your Piece" class="w-12">
            <p class="mt-2 text-sm">Your Piece</p>
        </div>
        <div>
            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </div>
        <div class="flex flex-col items-center">
            <img id="game-trade-request-offered-piece" src="" alt="Other Piece" class="w-12">
            <p class="mt-2 text-sm">Other Piece</p>
        </div>
    </div>
    <div class="flex justify-end space-x-4">
        <button id="game-trade-reject" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none">
            Reject
        </button>
        <button id="game-trade-accept" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none">
            Accept
        </button>
    </div>
</div>
<div id="game-piece-selection" class="fixed right-0 top-1/2 transform -translate-y-1/2 bg-white p-4 rounded-l-lg shadow-lg z-40 max-h-[calc(100vh-4rem)] overflow-y-auto" style="display: none;">
    <div id="game-piece-selection-pieces" class="flex flex-col space-y-4"></div>
</div>
<button id="game-piece-selection-hide" class="fixed right-4 bottom-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none z-50" style="display: none;">
    Hide
</button>
<button id="game-piece-selection-show" class="hidden fixed right-4 bottom-4 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none z-50" style="display: none;">
    Show
</button>
<script>
    document.getElementById("game-piece-selection-hide").addEventListener("click", function () {
        const selection = document.getElementById("game-piece-selection");
        selection.classList.add("hidden");

        document.getElementById("game-piece-selection-show").classList.remove("hidden");
    });

    document.getElementById("game-piece-selection-show").addEventListener("click", function () {
        const selection = document.getElementById("game-piece-selection");
        selection.classList.remove("hidden");

        document.getElementById("game-piece-selection-show").classList.add("hidden");
    });
</script>
<button id="game-toss" class="hidden fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none">
    Toss Piece
</button>