<div class="fixed top-5 left-5 flex space-x-4">
    <div class="relative">
        <img src="/img/default-avatar.png" alt="Player 1" class="w-16 h-16 rounded-full border-4 border-gray-300">
        <span class="absolute top-0 right-0 bg-gradient-to-r from-blue-500 to-red-500 text-white text-xs px-1 rounded-full">P1</span>
        <span class="absolute bottom-0 left-0 bg-white text-gray-800 text-xs px-1 w-50 rounded-full truncate text-center">Player 1</span>
    </div>
    <div class="relative">
        <img src="/img/default-avatar.png" alt="Player 2" class="w-16 h-16 rounded-full border-4 border-gray-300">
        <span class="absolute top-0 right-0 bg-gradient-to-r from-red-500 to-yellow-500 text-white text-xs px-1 rounded-full">P2</span>
        <span class="absolute bottom-0 left-0 bg-white text-gray-800 text-xs px-1 w-50 rounded-full truncate text-center">Player 2</span>
    </div>
    <div class="relative">
        <img src="/img/default-avatar.png" alt="Player 3" class="w-16 h-16 rounded-full border-4 border-gray-300">
        <span class="absolute top-0 right-0 bg-gradient-to-r from-green-500 to-yellow-500 text-white text-xs px-1 rounded-full">P3</span>
        <span class="absolute bottom-0 left-0 bg-white text-gray-800 text-xs px-1 w-50 rounded-full truncate text-center">Player 3</span>
    </div>
    <div class="relative"> 
        <img src="/img/default-avatar.png" alt="Player 4" class="w-16 h-16 rounded-full border-4 border-gray-300">
        <span class="absolute top-0 right-0 bg-gradient-to-r from-blue-500 to-green-500 text-white text-xs px-1 rounded-full">P4</span>
        <span class="absolute bottom-0 left-0 bg-white text-gray-800 text-xs px-1 w-50 rounded-full truncate text-center">Player 4</span>
    </div>
</div>