<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="mx-auto w-full max-w-md p-4 border border-gray-300 rounded-lg shadow-sm bg-gray-50">
        <h2 class="text-center text-2xl font-bold mb-6">Game Ready</h2>
        <div id="ready-players" class="flex flex-wrap justify-center space-x-4 mb-6">
            
        </div>
        <div class="flex justify-center">
            <button id="ready-start-game" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
                Start Game
            </button>
        </div>
    </div>
</div>