<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="mx-auto w-full max-w-md p-4 border border-gray-300 rounded-lg shadow-sm bg-gray-50 relative">
        <button id="exit-room" class="absolute top-4 left-4 text-red-600">Leave</button>
        <h2 class="text-center text-2xl font-bold mb-4">Game Mode: <span id="room-mode" class="font-semibold"></span></h2>
        <p id="room-status" class="text-center text-lg mb-6">Waiting for Players...</p>
        <div class="mb-6 p-4 border border-gray-300 rounded-lg bg-gray-100 flex items-center justify-between shadow-sm">
            <input type="text" id="room-id" class="w-full max-w-xs border border-gray-300 rounded-lg p-2 text-center bg-white" value="" readonly>
            <button id="copy-room-id" class="ml-4 py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Copy</button>
        </div>
        <div id="room-players" class="flex flex-wrap justify-center space-x-4 mb-6">
            
        </div>
        <button id="room-start-game" class="w-full py-2 px-4 bg-gray-400 text-white font-semibold rounded-lg cursor-not-allowed hidden" disabled>Start Game</button>
    </div>
</div>
<script>
    document.getElementById("exit-room").addEventListener("click", async () => {
        await gameNetwork.leaveRoom();
        window.location.href = "/";
    });

    document.getElementById("copy-room-id").addEventListener("click", () => {
        const roomId = document.getElementById("room-id");
        roomId.select();
        roomId.setSelectionRange(0, 99999);
        document.execCommand("copy");
    });
</script>